<div class="d-flex flex-column flex-md-row p-5">
    <ul class="nav nav-tabs nav-pills flex-row border-0 flex-md-column me-5 mb-3 mb-md-0 fs-6 min-w-lg-200px"
        role="tablist">
        <li class="nav-item w-100 me-0 mb-md-2">
            <a class="nav-link w-100 btn btn-flex flex-column btn-light-primary btn-active-primary active"
                data-bs-toggle="tab" href="#tab-konfigurasi" aria-selected="true" role="tab">
                {!! getIcon('setting-2', 'fs-3x mb-1', 'outline', 'i') !!}
                <span class="fs-4 fw-bold">Konfigurasi</span>
                {{-- <span class="d-flex flex-column align-items-start">
                    <span class="fs-7">Page Setting Kontrol</span>
                </span> --}}
            </a>
        </li>
        <li class="nav-item w-100 me-0 mb-md-2">
            <a class="nav-link w-100 btn btn-flex flex-column btn-light-primary btn-active-primary" data-bs-toggle="tab"
                href="#tab-administrasi" aria-selected="true" role="tab">
                {!! getIcon('setting-2', 'fs-3x mb-1', 'outline', 'i') !!}
                <span class="fs-4 fw-bold">Administrasi</span>
                {{-- <span class="d-flex flex-column align-items-start">
                    <span class="fs-7">Page Setting Kontrol</span>
                </span> --}}
            </a>
        </li>
        <li class="nav-item w-100 me-0 mb-md-2">
            <a class="nav-link w-100 btn btn-flex flex-column btn-light-primary btn-active-primary" data-bs-toggle="tab"
                href="#tab-web-asm" aria-selected="true" role="tab">
                {!! getIcon('setting-2', 'fs-3x mb-1', 'outline', 'i') !!}
                <span class="fs-4 fw-bold">WEB ASM</span>
                {{-- <span class="d-flex flex-column align-items-start">
                    <span class="fs-7">Page Setting Kontrol</span>
                </span> --}}
            </a>
        </li>
        <li class="nav-item w-100 me-0 mb-md-2">
            <a class="nav-link w-100 btn btn-flex flex-column btn-light-primary btn-active-primary" data-bs-toggle="tab"
                href="#tab-web-tpq" aria-selected="true" role="tab">
                {!! getIcon('setting-2', 'fs-3x mb-1', 'outline', 'i') !!}
                <span class="fs-4 fw-bold">WEB TPQ</span>
                {{-- <span class="d-flex flex-column align-items-start">
                    <span class="fs-7">Page Setting Kontrol</span>
                </span> --}}
            </a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active show" id="tab-konfigurasi" role="tabpanel">
            Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim
            occaecat veniam.
            Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
            Velit non irure adipisicing aliqua
            ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet
            duis do nisi duis veniam non est eiusmod
            tempor incididunt tempor dolor ipsum in qui sit.
        </div>

        <div class="tab-pane fade" id="tab-administrasi" role="tabpanel">
            Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim
            reprehenderit.
            Magna duis labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non
            exercitation velit laboris fugiat cupidatat.
            Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip
            ipsum aute laboris nisi.
            Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure
            esse tempor ad mollit.
            Dolore commodo nulla minim amet ipsum officia consectetur amet ullamco voluptate nisi
            commodo ea sit eu.
        </div>

        <div class="tab-pane fade" id="tab-web-asm" role="tabpanel">
            Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat
            sunt do.
            Eu ex commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim
            cupidatat.
            eserunt officia id Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui
            reprehenderit nostrud tempor.
            Fugiat ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim.
            Consequat aliquip incididunt
            ipsum et minim laborum laborum laborum et cillum labore. Deserunt adipisicing cillum id
            nulla minim nostrud labore eiusmod et amet.
        </div>
        <div class="tab-pane fade" id="tab-web-tpq" role="tabpanel">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque rem totam doloribus
            libero officiis exercitationem labore reiciendis excepturi, id nostrum minus dolor et.
            Corporis, reiciendis accusamus est et hic, non vel labore ad adipisci eligendi blanditiis
            ipsam optio earum voluptate.
        </div>
    </div>
</div>